.animal-card-link {
	text-decoration: none;
	color: inherit;
	display: block;
	transition: transform 0.2s;
}


.animal-card {
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 8px;
	cursor: pointer;
	transition: box-shadow 0.2s;
}



